MONGODB_CONNECTION_STRING=
ADMIN_BACKEND_URL=http://localhost:8080
DATABASE_HOST=db
DATABASE_MIGRATOR_PASSWORD=viesvatchecker_migrator
DATABASE_MIGRATOR_PASSWORD_FILE=
DATABASE_MIGRATOR_USER=viesvatchecker_migrator
DATABASE_NAME=viesvatchecker
DATABASE_PORT=5432
DATABASE_RUNTIME_PASSWORD=viesvatchecker_runtime
DATABASE_RUNTIME_PASSWORD_FILE=
DATABASE_RUNTIME_USER=viesvatchecker_runtime
DATABASE_SUPERUSER=viesvatchecker_superadmin
DATABASE_SUPERUSER_PASSWORD=viesvatchecker_superadmin
DATABASE_SUPERUSER_PASSWORD_FILE=
HOST=0.0.0.0
MAX_PENDING_VAT_NUMBERS_PER_USER=10
NODE_ENV=production
PENDING_VAT_WORKER_CRON=0 * * * *
PORT=8080
TG_BOT_TOKEN=
TG_BOT_TOKEN_FILE=
TG_POLLING_ENABLED=true
TG_POLLING_INTERVAL_MS=1000
VAT_NUMBER_EXPIRATION_DAYS=90
VIES_URL=https://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl
ADMIN_NOTIFICATION_CHANNELS=
ADMIN_TELEGRAM_CHAT_IDS=
ADMIN_NTFY_URL=
ADMIN_NTFY_TOPIC=
ADMIN_NTFY_TOKEN=
ADMIN_NTFY_TOKEN_FILE=

