MONGODB_CONNECTION_STRING=
ADMIN_BACKEND_URL=http://127.0.0.1:8080
DATABASE_HOST=127.0.0.1
DATABASE_MIGRATOR_PASSWORD=viesvatchecker_migrator
DATABASE_MIGRATOR_PASSWORD_FILE=
DATABASE_MIGRATOR_USER=viesvatchecker_migrator
DATABASE_NAME=viesvatchecker
DATABASE_PORT=54329
DATABASE_PUBLISHED_PORT=54329
DATABASE_RUNTIME_PASSWORD=viesvatchecker_runtime
DATABASE_RUNTIME_PASSWORD_FILE=
DATABASE_RUNTIME_USER=viesvatchecker_runtime
DATABASE_SUPERUSER=viesvatchecker_superadmin
DATABASE_SUPERUSER_PASSWORD=viesvatchecker_superadmin
DATABASE_SUPERUSER_PASSWORD_FILE=
ADMIN_WEB_PUBLISHED_PORT=8081
HOST=0.0.0.0
HTTP_PUBLISHED_PORT=8080
INTERNAL_API_TOKEN=
INTERNAL_API_TOKEN_FILE=
MAX_PENDING_VAT_NUMBERS_PER_USER=10
NODE_ENV=development
NOTIFY_ADMIN_ON_UNRECOVERABLE_ERRORS=false
PENDING_VAT_WORKER_CRON=0 * * * *
PORT=8080
TG_ADMIN_CHAT_ID=
TG_BOT_TOKEN=
TG_BOT_TOKEN_FILE=
TG_POLLING_ENABLED=true
TG_POLLING_INTERVAL_MS=1000
VAT_NUMBER_EXPIRATION_DAYS=90
VIES_URL=https://ec.europa.eu/taxation_customs/vies/checkVatService.wsdl
